.pinhole {
  -webkit-filter: grayscale(100%) sepia(10%) contrast(130%) brightness(110%);
     -moz-filter: grayscale(100%) sepia(10%) contrast(130%) brightness(110%);
      -ms-filter: grayscale(100%) sepia(10%) contrast(130%) brightness(110%);
       -o-filter: grayscale(100%) sepia(10%) contrast(130%) brightness(110%);
          filter: grayscale(100%) sepia(10%) contrast(130%) brightness(110%);
}
