.glowing-sun {
  -webkit-filter: saturate(219%) sepia(46%) contrast(158%) brightness(110%);
     -moz-filter: saturate(219%) sepia(46%) contrast(158%);
      -ms-filter: saturate(219%) sepia(46%) contrast(158%);
       -o-filter: saturate(219%) sepia(46%) contrast(158%);
          filter: saturate(219%) sepia(46%) contrast(158%);
}

.grungy {
  -webkit-filter: contrast(259%) grayscale(52%) brightness(83%) saturate(79%);
     -moz-filter: contrast(259%) grayscale(52%) brightness(83%) saturate(79%);
      -ms-filter: contrast(259%) grayscale(52%) brightness(83%) saturate(79%);
       -o-filter: contrast(259%) grayscale(52%) brightness(83%) saturate(79%);
          filter: contrast(259%) grayscale(52%) brightness(83%) saturate(79%);
}

.pinhole {
  -webkit-filter: grayscale(100%) sepia(10%) contrast(130%) brightness(110%);
     -moz-filter: grayscale(100%) sepia(10%) contrast(130%) brightness(110%);
      -ms-filter: grayscale(100%) sepia(10%) contrast(130%) brightness(110%);
       -o-filter: grayscale(100%) sepia(10%) contrast(130%) brightness(110%);
          filter: grayscale(100%) sepia(10%) contrast(130%) brightness(110%);
}

.sin-city {
  -webkit-filter: contrast(500%) grayscale(100%) brightness(158%);
     -moz-filter: contrast(500%) grayscale(100%) brightness(158%);
      -ms-filter: contrast(500%) grayscale(100%) brightness(158%);
       -o-filter: contrast(500%) grayscale(100%) brightness(158%);
          filter: contrast(500%) grayscale(100%) brightness(158%);
}
