.glowing-sun {
  -webkit-filter: saturate(219%) sepia(46%) contrast(158%) brightness(110%);
     -moz-filter: saturate(219%) sepia(46%) contrast(158%);
      -ms-filter: saturate(219%) sepia(46%) contrast(158%);
       -o-filter: saturate(219%) sepia(46%) contrast(158%);
          filter: saturate(219%) sepia(46%) contrast(158%);
}

.pinhole {
  -webkit-filter: grayscale(100%) sepia(10%) contrast(130%) brightness(110%);
     -moz-filter: grayscale(100%) sepia(10%) contrast(130%) brightness(110%);
      -ms-filter: grayscale(100%) sepia(10%) contrast(130%) brightness(110%);
       -o-filter: grayscale(100%) sepia(10%) contrast(130%) brightness(110%);
          filter: grayscale(100%) sepia(10%) contrast(130%) brightness(110%);
}
